<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="collection">
			<file>tests/test-plugin.php</file>
			<file>tests/test-simple.php</file>
			<file>tests/test-expiration.php</file>
			<file>tests/test-transient.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<file>collection.php</file>
		</whitelist>
	</filter>
</phpunit>
